# ---------------------------------------------
#  Example Environment Variables File
#  Rename this file to ".env" and fill in values
# ---------------------------------------------

# Database Configuration
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/<dbname>?retryWrites=true&w=majority

# Authentication
JWT_SECRET=your_jwt_secret_key_here
COOKIE_SAME_SITE=none

# Server Configuration
PORT=5000
NODE_ENV=production
ENABLE_SWAGGER=true
CORS_ORIGINS=http://localhost,http://localhost:5173,http://localhost:5174
CORS_ORIGIN_PATTERNS=https://*.vercel.app
